@model IEnumerable<sideTrade.myProfilo.webApp.Models.NotificationViemModel>

    <div class="table-responsive" style="color:darkred;width:40em;overflow-x: auto;white-space: nowrap;">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th style="text-align: center;">
                    @Html.Label("#")
                </th>

                <th style="text-align: center;">
                    @Html.Label("Name")
                </th>
               

                <th style="text-align: center;">
                    @Html.Label("CreatedOn")
                </th>

                <th style="text-align: center;">
                    @Html.Label("Actioned On")
                </th>

                <th style="text-align: center;">
                    @Html.Label("Link")
                </th>

                <th style="text-align: center;">
                    @Html.Label("Subject")
                </th>

            </tr>

            @foreach (var item in Model.OrderByDescending(o => o.CreatedOn).Take(10))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ToEmail)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReadOn)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                
            </tr>
            }

        </table>
    </div>

